@charset "utf-8";

//公共样式
.width100{
    width: 100%;
}
.marginauto{
    margin: 0 auto;
}
.width962{
    width: 962px;
}

//头部
.lrtopWrap{
//  background: #000000;
    height: 100px;
    border-bottom: 1px solid #e8e8ea;
    .lrtop{
        height: 100px;
//      background: yellowgreen;
        overflow: hidden;
        h1{
            width: 220px;
            height: 70px;
            padding-top: 30px;
            float: left;
            margin-right: 238px;
            a{
                display: block;
                width: 220px;
                height: 42px;
                background: url(../images/lrtop1.png) no-repeat left top;
                
            }
            
        }
        .lrtopright{
            width: 504px;
            height: 100px;
            background: url(../images/lrtop2.jpg) no-repeat left top;
            float: left;
        }
    }
}

//中部
.centerWrap{
    height: 520px;
    background: url(../images/lrcenterbg.jpg) no-repeat center center;
    .centercon{
        height: 520px;
        .outbox{
            width: 350px;
//          height: 392px;      //暂定

            overflow: hidden;  
            background: lightpink;
            position: absolute;
            top: 149px;
            left: 808px;
            border: 1px solid #eaeaea;
            .login{
//              background: yellow;
                position: relative;
                width: 350px;
//              height: 392px;
                top: 0;
                left: 0;
                ul{
                    width: 350px;
                    height: 52px;
                    border-bottom: 1px solid #dddddd;
                    background: #f8f8f8;
                    li{
                        width: 175px;
                        height: 52px;
                        float: left;
                        line-height: 52px;
                        text-align: center;
                        font-size: 16px;
                        cursor: pointer;
                        font-weight: bold;
                        b{
                            display: block;
                            width: 1px;
                            height: 16px;
                            background: #999999;
                            position: absolute;
                            left: 175px;
                            top: 17px;
                        }
                    }
                    .loginulactive{
                        color: #E31436;
                    }
                }
                ol{
                    
                    li{
                        width:350px;
//                      padding: 0 40px;
                        display: none;
//                      &.loginolactive{
//                          display: block;
//                      }
                    }
                    .phonelogin{
                        height: 341px;
                        background: #FFFFFF;
                        position: relative;
                        .phonetop{
                            height: 279px;
                            padding: 19px 40px 19px 40px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            .yanzhenglog{
                                height: 25px;
                                width: 270px;
//                              background: skyblue;
                                .yanzhengma{
                                    float: right;
                                    &:hover{
                                        color: #E31436;
                                    }
                                }
                                
                            }
                            .phoneinput{
                                height: 34px;
                                width: 231px;
                                line-height: 34px;
                                border: 1px solid #DDDDDD;
                                padding-left: 39px;
                                background: url(../images/phoneinput.JPG) no-repeat 10px center;
                                margin-bottom: 16px;
                                outline: none;
                            }
                            .tuodongbox{
                                height: 26px;
                                border: 1px solid #DDDDDD;
                                background: #eeeeee;
                                color: #a8a8a8;
                                border-radius: 28px;
                                line-height: 26px;
                                position: relative;
                                margin-bottom: 16px;
                                span{
                                    margin-left: 88px;
                                    
                                }
                                .huakuai{
                                    position: absolute;
                                    height: 22px;
                                    width: 56px;
                                    background: #FFFFFF;
                                    border: 2px solid #DDDDDD;
                                    border-radius: 28px;
                                    left: 0;
                                    top: 0;
                                    text-align: center;
                                    line-height: 22px;
                                     cursor: pointer;
                                     font-weight: bold;
                                }
                                .pintu{
                                    height: 84px;
                                    width: 270px;
                                    background: skyblue;
                                    position: absolute;
                                    left: 0;
                                    top: -92px;
                                    border-radius: 20px;
                                    display: none;
                                }
                                .pintushow{
                                    display: block;
                                }
                            }
                            .yanzheng{
                                height: 34px;
                                line-height: 34px;
                                border: 1px solid #d5d5d5;
//                              margin-bottom: 30px;
                                input{
                                    height:32px;
                                    width: 163px;
                                    border: 0;
                                    padding-left: 8px;
                                    float: left;
                                    outline: none;
                                }
                                .pwd{
                                    padding-left: 39px;
                                }
                                a{
                                    display: block;
                                    width: 96px;
                                    height: 34px;
                                    background: #EEEEEE;
                                    border-left: 1px solid #D5D5D5;
                                    float: left;
                                    text-align: center;
                                }
                            }
                            .tishi{
                                height: 30px;
//                              background: red;
                                line-height: 30px;
                                color: #E31436;
                            }
                            .logbtn{
                                display: block;
                                height: 36px;
                                background: #E31436;
                                text-align: center;
                                line-height: 36px;
                                color: #FFFFFF;
                                margin-bottom: 10px;
                            }
                            .nologin{
                                height: 46px;
                                input{
                                    width: 14px;
                                    height: 14px;
                                    border: 1px solid #999999;
//                                  
                                }
                                span{
                                    margin-left: 8px;
                                    color: #999999;
                                }
                                a{
                                    color: #999999;
//                                  display: block;
                                    margin-left: 110px;
                                }
                            }
                            
                            
                            
                            
                        }
                        
                        //新添加的通过密码登录
                        .pwdlogin{
                            background: #ffffff;
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: none;
                            padding: 19px 40px 0 40px;
                            .pwdyanzhenglog{
                                height: 25px;
                                width: 270px;
//                              background: skyblue;
                                .pwdyanzhengma{
                                    float: right;
                                    &:hover{
                                        color: #E31436;
                                    }
                                }
                            }
                            
                            .pwdphone{
                                height: 34px;
                                width: 231px;
                                line-height: 34px;
                                border: 1px solid #DDDDDD;
                                padding-left: 39px;
                                background: #FFFFFF url(../images/phoneinput.JPG) no-repeat 10px center;
                                margin-bottom: 16px;
                                outline: none;
                            }
                            .pwdpwd{
                                height: 34px;
                                width: 231px;
                                line-height: 34px;
                                border: 1px solid #DDDDDD;
                                padding-left: 39px;
                                background: #FFFFFF url(../images/phoneinput.JPG) no-repeat 10px center;
//                              margin-bottom: 16px;
                                outline: none;
                            }
                            
                            .pwdlogtishi{
                                height: 30px;
//                              background: red;
                                line-height: 30px;
                                color: #E31436;
                            }
                            .pwdlogbtn{
                                display: block;
                                height: 36px;
                                background: #E31436;
                                text-align: center;
                                line-height: 36px;
                                color: #FFFFFF;
                                margin-bottom: 10px;
                            }
                            .pwdnologin{
                                height: 26px;
                                input{
                                    width: 14px;
                                    height: 14px;
                                    border: 1px solid #999999;
//                                  
                                }
                                span{
                                    margin-left: 8px;
                                    color: #999999;
                                }
                                a{
                                    color: #999999;
//                                  display: block;
                                    margin-left: 110px;
                                }
                            }
                        }
                        
                        .phonebtm{
                            height: 22px;
                            background: #F8F8F8;
                            line-height: 22px;
                            border-top: 1px solid #DDDDDD;
                            padding: 10px 40px 10px 40px;
                            position: relative;
                            left: 0;
                            top: 299px;
                            ul{
                                width: 133px;
                                height: 32px;
                                border: 0;
                                float: left;
                                li{
                                    display: block;
                                    width: 22px;
                                    height: 22px;
                                    float: left;
                                    margin-right: 10px;
                                    border-radius: 50%;
                                    background: url(../images/jinglingtu.png) no-repeat -760px -400px;
                                }
                            }
                            .quick{
                                float: left;
                                margin-top: 5px;
                                margin-left: 30px;
                                a{
                                    color: #E31436;
                                    display: block;
                                    width: 100px;
                                    height: 14px;
                                    line-height: 14px;
                                    span{
                                        display: block;
                                        width: 14px;
                                        height: 14px;
                                        float: right;
                                        background: url(../images/jinglingtu.png) no-repeat -900px -406px;
                                    }
                                }
                            }
                        }
                    }
                    .emaillogin{
                        height: 271px;
                        background: #ffffff;
                        font-size: 40px;
                        line-height: 160px;
                        text-align: center;
                    }
                    .loginolactive{
                        display: block;
                    }
                }
            }
            
            
            
            .register{
                background: #FFFFFF;
                position: relative;
                overflow: hidden;
                width: 350px;
//              height: ;
                top: 0;
                left: 0;
                display: none;    //暂定
                .title{
                    height: 52px;
                    line-height: 52px;
                    padding:0 40px 0 40px;
                    border-bottom: 1px solid #D5D5D5;
                    background: #f8f8f8;
                    span{
                        font-size: 16px;
                        color: #E31436;
                        font-weight: bold;
                        
                    }
                    b{
                        margin-left: 90px;
                    }
                    a{
                        color: skyblue;
                    }
                }
                .rebox{
                    padding: 40px 40px 10px 40px;
                    overflow: hidden;
                     .phoneinput2{
                                height: 34px;
                                width: 231px;
                                line-height: 34px;
                                border: 1px solid #DDDDDD;
                                padding-left: 39px;
                                background: url(../images/phoneinput.JPG) no-repeat 10px center;
                                margin-bottom: 16px;
                                outline: none;
                            }
                            .tuodongbox2{
                                height: 26px;
                                border: 1px solid #DDDDDD;
                                background: #eeeeee;
                                color: #a8a8a8;
                                border-radius: 28px;
                                line-height: 26px;
                                position: relative;
                                margin-bottom: 16px;
                                span{
                                    margin-left: 88px;
                                    
                                }
                                .huakuai2{
                                    position: absolute;
                                    height: 22px;
                                    width: 56px;
                                    background: #FFFFFF;
                                    border: 2px solid #DDDDDD;
                                    border-radius: 28px;
                                    left: 0;
                                    top: 0;
                                    text-align: center;
                                    line-height: 22px;
                                     cursor: pointer;
                                     font-weight: bold;
                                }
                                .pintu2{
                                    height: 84px;
                                    width: 270px;
                                    background: skyblue;
                                    position: absolute;
                                    left: 0;
                                    top: -92px;
                                    border-radius: 20px;
                                    display: none;
                                }
                                .pintushow{
                                    display: block;
                                }
                            }
                            .yanzheng2{
                                height: 34px;
                                line-height: 34px;
                                border: 1px solid #d5d5d5;
                                margin-bottom: 15px;
                                input{
                                    height:32px;
                                    width: 163px;
                                    border: 0;
                                    padding-left: 8px;
                                    float: left;
                                    outline: none;
                                }
                                a{
                                    display: block;
                                    width: 96px;
                                    height: 34px;
                                    background: #EEEEEE;
                                    border-left: 1px solid #D5D5D5;
                                    float: left;
                                    text-align: center;
                                }
                            }
                            .pwd2{
                                 height: 34px;
                                width: 231px;
                                line-height: 34px;
                                border: 1px solid #DDDDDD;
                                padding-left: 39px;
//                              background: url(../images/phoneinput.JPG) no-repeat 10px center;
//                              margin-bottom: 16px;
                                outline: none;
                            }
                            .pwdtishi{
                                height: 30px;
//                              background: red;
                                color: #E31436;
                                line-height: 30px;
                            }
                            .logbtn2{
                                display: block;
                                height: 36px;
                                background: #E31436;
                                text-align: center;
                                line-height: 36px;
                                color: #FFFFFF;
                                margin-bottom: 10px;
                            }
                            .nologin2{
                                height: 46px;
                                input{
                                    width: 14px;
                                    height: 14px;
                                    border: 1px solid #999999;
//                                  
                                }
                                span{
                                    margin-left: 8px;
                                    color: #999999;
                                }
                                a{
                                    color: #999999;
//                                  display: block;
                                    margin-left: 110px;
                                }
                            }
                }
            }
            .show{
                display: block;
            }
        }
    }
}

//底部
.lrbottomWrap{
    .lrbottom{
        width: 1087px;
        height: 255px;
        background: yellowgreen;
    }
}
