
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1522928172511'); /* IE9*/
  src: url('iconfont.eot?t=1522928172511#iefix') format('woff'),
  url('iconfont.ttf?t=1522928172511') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1522928172511#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e63a"; }

